.wrapper {
  width: 27%;
}

.title {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 600;
}

.button {
  margin-bottom: 15px;
  color: #3CAF41;
  font-size: 1rem;
  transition: color .3s;
  &:hover {
    color: #848482;
  }
}
