.card {
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .35);
  font-size: 1.1rem;
  &Date {
    margin-top: 15px;
    color: #B6B6B4;
    font-size: .9rem;
  }
  &MenuBtn {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    transition: opacity .3s;
    &:hover {
      opacity: .6;
    }
  }
  &MenuImg {
    max-width: 100%;
  }
  &MenuContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 25px;
    right: 10px;
    padding: 5px;
    background: #FFF;
    border: 1px solid #B6B6B4;
  }
  &MenuOption {
    font-size: .9rem;
    color: #848482;
    transition: color .3s;
    &:first-of-type {
      margin-bottom: 5px;
      &:hover {
        color: #3CAF41;
      }
    }
    &:last-of-type {
      &:hover {
        color: #C35817;
      }
    }
  }
}

.tag {
  padding: 5px;
  margin-right: 5px;
  border-radius: 4px;
  color: #FFF;
  font-size: .9rem;
  &List {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 10px;
  }
}
