.textField,
.textArea {
  width: 100%;
  padding: 10px 10px 5px 10px;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid #000;
  background: rgba(132, 132, 130, .075);
  &::placeholder {
    color: #000;
  }
}

.textArea {
  resize: none;
}